<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|${project} - Login|">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center antialiased text-gray-900 px-6 py-12 font-comfortaa">
    <div class="flex flex-col justify-center antialiased text-gray-900 px-6 py-12 max-w-lg">
        <span class="text-3xl font-bold text-center">Sign In</span>
        <div class="mt-8 max-w-lg">
            <form th:action="@{/login}" method="post" class="space-y-4 w-96">
                <label class="block">
                    <span class="form-input-title">Username</span>
                    <input
                            required
                            name="username"
                            placeholder=""
                            type="text"
                            class="form-input-field"
                    />
                </label>
                <label class="block">
                    <span class="form-input-title">Password</span>
                    <input
                            required
                            name="password"
                            placeholder=""
                            type="password"
                            class="form-input-field"
                    />
                </label>
                <div class="form-validation-error" th:if="${error}" th:text="#{login.error}"></div>
                <div class="flex justify-center">
                    <label class="inline-flex items-center mt-8">
                        <input
                                type="submit"
                                class="primary-action-button"
                                value="Sign in"
                        />
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="h-[2px] max-w-lg rounded bg-slate-400"></div>
    <div class="flex flex-col justify-center antialiased text-gray-900 px-6 py-12 max-w-lg">
        <a class="m-auto" th:href="@{/register}">
            <button class="primary-action-button">
                Register
            </button>
        </a>
    </div>
</body>
</html>
