<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|${project} - Register|">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-white">
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center antialiased text-gray-900 px-6 py-12 font-comfortaa">
    <div class="antialiased text-gray-900 px-6 py-12 w-128">
        <h2 class="text-3xl font-bold text-center">Sign Up</h2>
        <div class="mt-8 max-w-lg">
            <div class="grid grid-cols-1 gap-6">
                <form th:action="@{/register}" method="post">
                    <label class="block">
                        <span class="text-gray-700">Username</span>
                        <input
                                th:field="${credentials.username}"
                                placeholder=""
                                type="text"
                                class="mt-1 block w-full rounded-md bg-gray-100 border-transparent hover:border-gray-500 focus:border-gray-500 focus:bg-white focus:ring-0"
                        />
                    </label>
                    <div class="p-5 rounded text-gray-900 bg-gray-100" th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></div>
                    <label class="block">
                        <span class="text-gray-700">Email address</span>
                        <input
                                th:field="${user.email}"
                                placeholder="user@example.com"
                                type="email"
                                class="mt-1 block w-full rounded-md bg-gray-100 border-transparent hover:border-gray-500 focus:border-gray-500 focus:bg-white focus:ring-0"
                        />
                    </label>
                    <div class="p-5 rounded text-gray-900 bg-gray-100" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
                    <label class="block">
                        <span class="text-gray-700">Password</span>
                        <input
                                th:field="${credentials.password}"
                                placeholder=""
                                type="password"
                                class="mt-1 block w-full rounded-md bg-gray-100 border-transparent hover:border-gray-500 focus:border-gray-500 focus:bg-white focus:ring-0"
                        />
                    </label>
                    <div class="p-5 rounded text-gray-900 bg-gray-100" th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></div>
                    <label class="block">
                        <span class="text-gray-700">First name</span>
                        <input
                                th:field="${user.name}"
                                placeholder=""
                                type="text"
                                class="mt-1 block w-full rounded-md bg-gray-100 border-transparent hover:border-gray-500 focus:border-gray-500 focus:bg-white focus:ring-0"
                        />
                    </label>
                    <div class="p-5 rounded text-gray-900 bg-gray-100" th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"></div>
                    <label class="block">
                        <span class="text-gray-700">Surname</span>
                        <input
                                th:field="${user.surname}"
                                placeholder=""
                                type="text"
                                class="mt-1 block w-full rounded-md bg-gray-100 border-transparent hover:border-gray-500 focus:border-gray-500 focus:bg-white focus:ring-0"
                        />
                    </label>
                    <div class="p-5 rounded text-gray-900 bg-gray-100" th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"></div>
                    <div class="flex justify-center mt-2">
                        <label class="inline-flex items-center">
                            <input
                                    type="submit"
                                    class="p-5 rounded-xl bg-gray-200 border-transparent text-gray-700 hover:bg-sky-950 hover:text-white"
                                    value="Submit request"
                            />
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>