<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|${project} - Register|">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center antialiased text-gray-900 px-6 py-12 font-comfortaa">
    <div class="antialiased text-gray-900 px-6 py-12 max-w-lg">
        <h2 class="text-3xl font-bold text-center">Sign Up</h2>
        <div class="mt-8 max-w-lg">
            <div class="grid grid-cols-1 gap-6">
                <form th:action="@{/register}" method="post" class="space-y-4 w-96">
                    <div>
                        <label class="block">
                            <span class="form-input-title">Username</span>
                            <input
                                    th:field="${credentials.username}"
                                    required
                                    placeholder=""
                                    type="text"
                                    class="form-input-field"
                            />
                        </label>
                        <div class="form-validation-error" th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></div>
                    </div>
                    <div>
                        <label class="block">
                            <span class="form-input-title">Email address</span>
                            <input
                                    th:field="${user.email}"
                                    required
                                    placeholder="user@example.com"
                                    type="email"
                                    class="form-input-field"
                            />
                        </label>
                        <div class="form-validation-error" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
                    </div>
                    <div>
                        <label class="block">
                            <span class="form-input-title">Password</span>
                            <input
                                    th:field="${credentials.password}"
                                    required
                                    placeholder=""
                                    type="password"
                                    class="form-input-field"
                            />
                        </label>
                        <div class="form-validation-error" th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></div>
                    </div>
                    <div>
                        <label class="block">
                            <span class="form-input-title">First name</span>
                            <input
                                    th:field="${user.name}"
                                    placeholder=""
                                    type="text"
                                    class="form-input-field"
                            />
                        </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"></div>
                    </div>
                    <div>
                        <label class="block">
                            <span class="form-input-title">Surname</span>
                            <input
                                    th:field="${user.surname}"
                                    placeholder=""
                                    type="text"
                                    class="form-input-field"
                            />
                        </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"></div>
                    </div>
                    <div class="flex justify-center">
                        <label class="inline-flex items-center mt-8">
                            <input
                                    type="submit"
                                    class="form-input-button"
                                    value="Register"
                            />
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>