<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|${project} - Success|">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="flex flex-col justify-center font-comfortaa pt-20">
    <div class="flex flex-col justify-center m-auto py-8 px-4 space-y-8 rounded-xl bg-sky-100 max-w-xl">
        <span class="text-center text-4xl text-gray-700 font-bold">Congratulations</span>
        <span class="text-center text-3xl text-gray-700">Your account has been created</span>
        <span class="text-center text-xl text-gray-700" th:text="${user.email}"></span>
        <span class="text-center text-xl text-gray-700" th:text="|${user.name} ${user.surname}|"></span>
    </div>
</div>
</body>
</html>