<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="|${project} - New artist|">Title</title>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center antialiased text-gray-900 px-6 py-12 font-comfortaa">
  <div class="antialiased text-gray-900 px-6 py-12 max-w-lg">
    <span class="text-3xl font-bold text-center">Add new artist</span>
    <div class="mt-8 max-w-lg">
      <div class="grid grid-cols-1 gap-6">
        <form th:action="@{/admin/artists/new}" method="post" enctype="multipart/form-data" class="space-y-4 w-96">
          <label class="block">
            <span class="form-input-title">Name</span>
            <input
                    th:field="${artist.name}"
                    required
                    placeholder=""
                    type="text"
                    class="form-input-field"
            />
          </label>
          <div class="form-validation-error" th:if="${#fields.hasErrors('artist.name')}" th:errors="${artist.name}"></div>
          <label class="block">
            <span class="form-input-title">Surname</span>
            <input
                    th:field="${artist.surname}"
                    required
                    placeholder=""
                    type="text"
                    class="form-input-field"
            />
          </label>
          <div class="form-validation-error" th:if="${#fields.hasErrors('artist.surname')}" th:errors="${artist.surname}"></div>
          <label class="block">
            <span class="form-input-title">Date of birth</span>
            <input
                    th:field="${artist.dateOfBirth}"
                    placeholder=""
                    type="date"
                    class="form-input-field"
            />
          </label>
          <div class="form-validation-error" th:if="${#fields.hasErrors('artist.dateOfBirth')}" th:errors="${artist.dateOfBirth}"></div>
          <label class="block">
            <span class="form-input-title">Date of death</span>
            <input
                    th:field="${artist.dateOfDeath}"
                    placeholder=""
                    type="date"
                    class="form-input-field"
            />
          </label>
          <div class="form-validation-error" th:if="${#fields.hasErrors('artist.dateOfDeath')}" th:errors="${artist.dateOfDeath}"></div>
          <label class="block">
            <span class="form-input-title">Picture</span>
            <input
                    name="image"
                    required
                    placeholder=""
                    type="file"
                    accept="image/*"
                    class="form-input-field"
            />
          </label>
          <div class="flex justify-center">
            <label class="inline-flex items-center mt-8">
              <input
                      type="submit"
                      class="primary-action-button"
                      value="Add to database"
              />
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>