<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|${project} - Update artist|">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center antialiased text-gray-900 px-6 py-12 font-comfortaa">
    <div class="flex flex-col justify-center antialiased text-gray-900 px-6 py-12 max-w-lg">
        <span class="text-3xl font-bold text-center">Update artist info</span>
        <div class="mt-8 max-w-lg">
            <div class="grid grid-cols-1 gap-6">
                <form th:action="@{/admin/artists/{id}/update(id=${artist_id})}" method="post" enctype="multipart/form-data" class="space-y-4 w-96">
                    <label class="block">
                        <span class="form-input-title">Name</span>
                        <input
                                th:field="${form.name}"
                                required
                                placeholder=""
                                type="text"
                                class="form-input-field"
                        />
                    </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('form.name')}" th:errors="${form.name}"></div>
                    <label class="block">
                        <span class="form-input-title">Surname</span>
                        <input
                                th:field="${form.surname}"
                                required
                                placeholder=""
                                type="text"
                                class="form-input-field"
                        />
                    </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('form.surname')}" th:errors="${form.surname}"></div>
                    <label class="block">
                        <span class="form-input-title">Date of birth</span>
                        <input
                                th:field="${form.dateOfBirth}"
                                placeholder=""
                                type="date"
                                class="form-input-field"
                        />
                    </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('form.dateOfBirth')}" th:errors="${form.dateOfBirth}"></div>
                    <label class="block">
                        <span class="form-input-title">Date of death</span>
                        <input
                                th:field="${form.dateOfDeath}"
                                placeholder=""
                                type="date"
                                class="form-input-field"
                        />
                    </label>
                    <div class="form-validation-error" th:if="${#fields.hasErrors('form.dateOfDeath')}" th:errors="${form.dateOfDeath}"></div>
                    <label class="block">
                        <span class="form-input-title">Picture</span>
                        <input
                                name="image"
                                placeholder=""
                                type="file"
                                accept="image/*"
                                class="form-input-field"
                        />
                    </label>
                    <div class="flex justify-center">
                        <label class="inline-flex items-center mt-8">
                            <input
                                    type="submit"
                                    class="primary-action-button"
                                    value="Update database"
                            />
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>