<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="|${project} - Register|">Title</title>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-white">
<div th:replace="~{fragments/header :: header}"></div>
<div class="grid w-screen place-content-center">
  <div class="antialiased text-gray-900 px-6 py-12 w-96 font-comfortaa">
    <h2 class="text-3xl font-bold text-center">Sign Up</h2>
    <div class="mt-8 max-w-lg">
      <div class="grid grid-cols-1 gap-6">
        <label class="block">
          <span class="text-gray-700">First name</span>
          <input
                  placeholder=""
                  type="text"
                  class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </label>
        <label class="block">
          <span class="text-gray-700">Surname</span>
          <input
                  placeholder=""
                  type="text"
                  class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </label>
        <label class="block">
          <span class="text-gray-700">Email address</span>
          <input
                  placeholder="user@example.com"
                  type="email"
                  class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </label>
        <label class="block">
          <span class="text-gray-700">When is your event?</span>
          <input
                  type="date"
                  class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </label>
        <label class="block">
          <span class="text-gray-700">What type of event is it?</span>
          <select
                  class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          >
            <option>Corporate event</option>
            <option>Wedding</option>
            <option>Birthday</option>
            <option>Other</option>
          </select>
        </label>
        <label class="block">
          <span class="text-gray-700">Additional details</span>
          <textarea
                  rows="3"
                  class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0"
          >
            </textarea>
        </label>
        <div class="block">
          <div class="mt-2">
            <div>
              <label class="inline-flex items-center">
                <input
                        type="checkbox"
                        class="rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-gray-700 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500"
                />
                <span class="ml-2">Email me news and special offers</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>