<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full bg-white">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${project}">Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body class="bg-white">
<div th:replace="~{fragments/header :: header}"></div>
<div class="flex flex-col my-24 space-y-12 h-screen w-screen font-comfortaa">
    <img th:src="@{/images/logo-movie.svg}" alt="Project logo" class="w-96 h-96 mx-auto"/>
    <span class="text-6xl text-center font-extrabold">SIW Movie</span>
    <a th:href="@{/movies}" class="primary-action-button m-auto">
        <span class="text-4xl text-center font-bold">Browse now</span>
    </a>
</div>
</body>
</html>